.apdex-score {
  text-align: center;
}

.apdex-value {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.apdex-label {
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
}

